.mat-form-field {
    /* margin: 20px 0;
    width: 500px !important; */
    text-align: right;
}
.mat-toolbar-single-row {
    height: auto !important;
    background: transparent;
}
.mat-toolbar-single-row button {
    width: 200px;
}
.mat-form-field {
    width: 100%;
}
.mat-toolbar .mat-input-element {
    font-size: 14px;
}
#uploadFile {
    top: 0px;
    left: 0px;
    width: 100%;    
    z-index: 9;
    opacity: 0;
    height: 100%;
    cursor: pointer;
    position: absolute;
}

@media (max-width: 768px){
    .mat-toolbar-single-row button {
        font-size: 11px;
    }
    .mat-toolbar .mat-input-element {
        font-size: 10px;
    }
}